nppes/nppes_data
*.pyc
*.crc
_SUCCESS
**/tmp/**/*.gz
**/out/**/*.psv
**/output/**/*.parquet
.cache/
derby.log
metastore_db/
spark-warehouse/
env/
.idea/
tags
.DS_Store
.gitignore.swp
dewey_spark.tar.gz
pylint_output.txt
spark/.DS_Store
spark/target/
venv/
.vscode/