ul.nav {
    padding: 10px 0 0 0;
}

div#data {
    margin: 10px 0 0 0;
}

div#time-series {
    display: none;
    font-size: 1.2em;
}

div#time-series ul {
    display: none;
    list-style-type: none;
    padding: 0;
    width: 50%;
}

div#time-series li {
    padding: 5px;
    border: 1px solid black;
    word-break: break-all;
}

div#time-series .not-sent {
    background: #f99;
}

div#time-series .not-ingested {
    background: #ff9;
}

div#time-series .fully-loaded {
    background: #9f9;
}

div#time-series #legend {
    display: block;
}

div#time-series #back {
    display: block;
    padding: 0 0 20px 0;
}

div#time-series .legend-marker {
    display: inline-block;
    width: 20px;
    height: 20px;
}

span.pull-right {
    margin-top: -25px;
    display: none;
}
