ul.nav {
    padding: 10px 0 0 0;
}

div#data {
    margin: 10px 0 0 0;
}

div#ingestion tr.healthy {
    background: lightgreen;
}

div#ingestion tr.unhealthy {
    background: orange;
}

div#time-series {
    display: none;
}

div#time-series ul {
    display: none;
    list-style-type: none;
    padding: 0;
    width: 50%;
}

div#time-series .not-sent {
    background: red;
}

div#time-series .not-ingested {
    background: yellow;
}

div#time-series .fully-loaded {
    background: green;
}

div#time-series #legend {
    display: block;
}

div#time-series .legend-marker {
    display: inline-block;
    width: 10px;
    height: 10px;
}

span.pull-right {
    margin-top: -25px;
    display: none;
}
